package components

import ( 
  "github.com/hobord/poc-htmx-go-todolist/entities"
  // "github.com/hobord/poc-htmx-go-todolist/delivery/web/templates"
)

templ TodoList(title string, todos []*entities.Todo) {
	<form 
    id={ todos[0].Group }
 			hx-post="/todos/add"
      hx-swap="outerHTML"
  >
		<h2>{ title }</h2>
		<ul>
			for _, todo := range todos {
				@TodoItem(todo)
			}
		</ul>
    <input type="hidden" name="group" value={ todos[0].Group }/>
		<input
 			type="text"
      name="title"
		/>
	</form>
}
